@import "./header";
@import "./leftContent";
@import "./mainContent";
@import "./rightContent";
@import "./footer";

body {
    margin: 0;
    background-color: #242424;
    font-family: 'Source Sans Pro', sans-serif;
}