.right-container {
    order: 3;
    width: 315px;
}

.right-container-content-article-small {
    margin-bottom: 13px;
    width: 315px;
}

.right-container-content-search input {
    margin-bottom: 13px;
    width: 315px;
    height: 33px;
}

.right-container-content-calender {
    margin-bottom: 13px;
    width: 315px;
    height: 540px;
    background-color: #f5f5f5;
}